

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!-- Change code below this line -->

<body>
<button class="btn-return" routerLink="/accueil">Retour</button>
<div class="profile-card">
  <div class="avatar"><img src="http://localhost:4200/assets/logo1.png" alt="profile-img"></div>
  <div class="bonjour">
    <div class="name"><p >Email:{{ authentification.utilisateur.sub }}</p></div>
    <div class="name"><p >Nom: {{ authentification.utilisateur.nom}}</p></div>
    <div class="name"><p >Prenom:{{ authentification.utilisateur.prenom }}</p></div>

    <div class="designation">@if(authentification.utilisateur.role == "ROLE_ADMIN") {

      <p class="name">Vous etes administrateur</p>
    }
      @if(authentification.utilisateur.role == "ROLE_CLIENT") {

        <p class="name" >Vous etes client</p>
      }
      @if(authentification.utilisateur.role == "ROLE_TECH") {

        <p class="name">Vous etes technicien</p>
      }</div>
  </div>
  <div class="options">

    <button class="mes-informations" routerLink="/userinfos">
      <img src="http://localhost:4200/assets/logo_infos.png" alt="" class="btn-img">
      <span>Mes informations</span>
    </button>
    <button class="mes-vehicules" routerLink="/mes-vehicules">
      <img src="http://localhost:4200/assets/logo_car.png" alt="" class="btn-img">
      <span>Mes véhicules</span>
    </button>
    <button class="mes-rendezvous" routerLink="/mes-rdv">
      <img src="http://localhost:4200/assets/logo_rdv1.png" alt="" class="btn-img">
      <span>Mes <br>
      Rendez-vous</span>
    </button>
  </div>
</div>
</body>
<!-- Change code above this line -->


