<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!-- Change code below this line -->

<body>
  <button class="btn-return" routerLink="/profil">Retour</button>

<div class="profile-card">
  <div class="mes-vehicules-section">
    <h2>Mes véhicules</h2>

<p>
        {{ utilisateur.vehicules[0].immat }}
</p>

  </div>
  <div class="options">
      <button class="mes-informations" routerLink="/ajoutvehicule">
      <img src="http://localhost:4200/assets/logo_infos.png" alt="" class="btn-img">
      <span>Ajouter un vehicule</span>
      </button>
  </div>
</div>
</body>


