<button class="btn-return" mat-button routerLink="/userinfos">Retour</button>
<div class="profile-card">
  <div class="avatar">
    <img src="http://localhost:4200/assets/logo1.png" alt="profile-img">
  </div>
  <div class="edit-form">
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit(formulaire.value)">
      <mat-form-field class="field">
        <mat-label>Rue</mat-label>
        <input matInput formControlName="rue">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Code Postale</mat-label>
        <input matInput formControlName="cp">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Ville</mat-label>
        <input matInput formControlName="ville">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="tel">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    </form>
  </div>

  </div>



