/* Add CSS here */
*,
*::after,
*::before {
  margin: 0;
  font-family: "Rubik", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #ebf0fc;
  --main-txt-color: #130c35;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("http://localhost:4200/assets/attente2.png");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}

.btn-return {
  background: #ffff;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  right: 10%;
}

.profile-card {
  background-color: white;
  color: var(--main-txt-color);
  width: 700px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #e1e7fb;
  border: 5px solid #e95b19;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  right: 20%;
}

.avatar {
  width: 80px;
  height: 80px;
  outline: 10px solid #ecf1ff;
  border-radius: 50%;
}

.avatar>img {
  outline: 10px #ecf1ff;
  border-radius: 50%;
  width: inherit;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.salutation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.salutation>.name {
  font-size: 20px;
  font-weight: 500;
}

.salutation>.designation {
  font-size: 15px;
}


.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.options button {
  background-color: #e95b19;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
}

button img.btn-img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

button:hover {
  background-color: darkorange;
}

button:active {
  background-color: #ff8c00;
}
.options>button>.btn-img {
  width: 30px;
  aspect-ratio: 1/1;
}

.more-options {
  bottom: -60px;
  right: -120px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: var(--main-txt-color);
  color: white;
  border-radius: 5px;
  gap:5px;
  transition: all 500ms ease;
}
.notVisible{
  transform: scale(0);
}

.option {
  display: flex;
  align-items: center;
  height:30px;
  cursor: pointer;
  transition: all 500ms ease;
  border-radius: inherit;
  padding: 10px;
  &:hover{
    background-color: #2d255a;
  }
}
