

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!-- Change code below this line -->

<body>
<button class="btn-return" routerLink="/profil">Retour</button>
<div class="profile-card">
  <div class="avatar"><img src="http://localhost:4200/assets/logo1.png" alt="profile-img"></div>
  <div class="bonjour">
    <div class="name"><p >Rue:{{ authentification.utilisateur.rue }}</p></div>
    <div class="name"><p >Code Postale: {{ authentification.utilisateur.cp}}</p></div>
    <div class="name"><p >Ville:{{ authentification.utilisateur.ville }}</p></div>
    <div class="name"><p >Email:{{ authentification.utilisateur.email }}</p></div>
    <div class="name"><p >Telephone:{{ authentification.utilisateur.tel }}</p></div>


    <div class="designation">@if(authentification.utilisateur.role == "ROLE_ADMIN") {

      <p class="name">Vous etes administrateur</p>
    }
      @if(authentification.utilisateur.role == "ROLE_CLIENT") {

        <p class="name" >Vous etes client</p>
      }
      @if(authentification.utilisateur.role == "ROLE_TECH") {

        <p class="name">Vous etes technicien</p>
      }</div>
  </div>
  <div class="options">

    <button class="mes-informations" routerLink="/edit-profil">
      <img src="http://localhost:4200/assets/logo_infos.png" alt="" class="btn-img">
      <span>Modifier</span>
    </button>

  </div>
</div>
</body>
<!-- Change code above this line -->


