<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CARSAVVY</title>
</head>
<body>
<div class="container">
  <div class="pos-fix">
  </div>
</div>
<section class="landing-page" id="landing-page">
  <div class="container">
    <div class="landing-page-settings">
      <div class="landing-page-text">
        <h1>Bienvenue sur votre espace personnel <br>
          <p style="color: #c7381a; font-size: 64px;">
          {{ authentification.utilisateur.prenom }}
          </p>
        </h1>
        <div class="button-container">
        <button class="btn profil" routerLink="/profil">MON GARAGE</button>
        <button class="btn prestations" routerLink="/prestation-list">Gerer les Prestations</button>
        <button class="btn adherents" routerLink="/user-list">Gerer les Adherents</button>
        <button class="btn techniciens" routerLink="/tech-list">Gerer les Techniciens</button>
        <button class="btn reservations" routerLink="/rdv-list">Gerer les reservations</button>
        <button class="btn location" routerLink="/materiel">Gerer le Materiel</button>
        <button class="btn vente" routerLink="/vente">Vehicules en Vente</button>
      </div>
    </div>
    </div>
  </div>
</section>
</body>
</html>
